@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  letter-spacing: 2px;
}
html,body {
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
a {
  color: #000000;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
textarea {
  resize: none;
}
button {
  border: none;
  outline: none;
}
.flex {
  display: flex;
}
.flex-x {
  display: flex;
  justify-content: space-between;
}
.flex-x-start {
  display: flex;
  justify-content: flex-start;
}
.flex-x-cen {
  display: flex;
  justify-content: center;
}
.flex-x-end {
  display: flex;
  justify-content: flex-end;
}
.flex-y {
  display: flex;
  flex-direction: column;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-cen {
  align-items: center;
}

